
# If using JWT, you may need to handle CORS (Cross-Origin Resource Sharing)
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
</IfModule>